:root {
  --wd-light-grey: #5b656b;
  --wd-mid-grey: rgb(47, 51, 54);
  --wd-dark-grey: #1e2023;
  --wd-interactive-blue: rgb(29, 161, 242);
}

.wd-color-light-grey {
  color: var(--wd-light-grey);
}

.wd-color-mid-grey {
  color: var(--wd-mid-grey);
}

.wd-color-dark-grey {
  color: var(--wd-dark-grey);
}

.wd-color-interactive-blue {
  color: var(--wd-interactive-blue);
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

#wd-explore-search {
  display: flex;
  align-items: center;
}

#wd-explore-search input,
#wd-explore-search input:focus,
#wd-explore-search .input-group-text {
  background-color: var(--wd-dark-grey);
  color: white;
  border: none;
}

#wd-explore-search .input-group-text {
  padding: 0.5em 1.5em;
  border-radius: 1em 0 0 1em;
}

#wd-explore-search input,
#wd-explore-search input:focus {
  padding: 0.5em 0;
  margin-right: 2em;
  border-radius: 0 1em 1em 0;
}

#wd-explore-tabs ul {
  padding: 0;
  border-bottom: 1px solid var(--wd-mid-grey);
}

#wd-explore-tabs li {
  list-style-type: none;
  display: inline-block;
}

#wd-explore-tabs li:not(:first-child) {
  margin-left: 1em;
}

#wd-explore-tabs a,
#wd-explore-tabs a:visited,
#wd-explore-tabs .nav-tabs, 
#wd-explore-tabs .nav-tabs:visited {
  font-size: 15px;
  color: var(--wd-light-grey);
  text-decoration: none;
  display: inline-block;
  background-color: inherit;
  border: inherit;
}

#wd-explore-tabs .active,
#wd-explore-tabs .active:visited {
  color: white;
  border-bottom: 3px solid var(--wd-interactive-blue);
}

.wd-explore-feed__post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1em;
  border: 1px solid var(--wd-mid-grey);
}

.wd-explore-feed__post img {
  width: 100px;
  height: 100px;
  border-radius: 1em;
  margin: 0.75em 0 0.75em 2em;
  object-fit: cover;
}

.wd-explore-feed__annotations {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-explore-feed__author {
  color: white;
  font-weight: 500;
}

.wd-explore-feed__title {
  font-size: 16px;
  font-weight: 600;
}

.wd-explore-feed__tweet-count {
  font-size: 13px;
  color: rgb(110, 118, 125);
}
